.footer {
  padding: 25px 15px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f0f0f0;
}

.infoFooter {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 35px;
}

.logo {
  height: 65px;
  width: auto;
}

.links {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 5px;
  text-align: right;
  border-left: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links :nth-child(5){
  grid-column: span 2;
}

.brand{
  padding-bottom: 20px;
}

.brand div{
  font-size: 0.7rem;
  padding: 10px;
}